@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=WindSong:wght@400;500&display=swap');

/*PROPRIETES GENERAL*/
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

a {
    text-decoration: none; /*Enlève les surlignements des a*/
    color: black; /*Mettre en noir tout les a de la page*/
}

li {
    list-style-type: none; /*Enlève les puces des li*/
}

.bgYellow {
    background-color: #F3C827;
}

.flex {
    display: flex; /*Côte à côte*/
    flex-wrap: wrap; /*Si ça rendre pas tout, retour à la ligne*/
}

.spaceBetween {
    justify-content: space-between; /*Mettre des espaces*/
}

.alignCenter {
    align-items: center;
}

.bold {
    font-weight: 600;
}


/*HEADER*/
.navHeader {  /*Mettre une dimension à la nav pour créer les espaces*/
  /* background-color: blue;*/
    width: 50%;
}

.header {   
    padding: 15px; 
 }
 
 .panierIcon {
     color: #F3C827;
     font-size: 30px;
 }
 


/*SECTION HERO*/
.hero {
    height: 100vh;
}

.hero h2 {
    font-size: 130px;
    font-family: "WindSong", cursive;
    font-weight: 500;
}

h1 {
    font-size: 32px;
}
.container {  
    max-width: 1000px; /*Ds container tjs mettre ls propriétés max width et with*/
    width: 100%;
    margin: auto; /*c'est égal à margin-right et margin-left=auto*/
    display: flex;
}

.btn {
    background-color: #F66909;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-top: 15px;
}

.width45 {
    width: 45%;
}

.width30 {
    width: 30%;
}


 /*SECTION ENGAGEMENT*/
 .engagement {       
    margin-left: 20px;   
}

.engagement h3 {
    padding-top: 65px;  
    width: 100%; 
    font-family: "Inter", serif; 
    font-weight:600;
    font-style: normal;
    font-size: 32px;
}

.engagement p {   /*J'ai mis la class width45 pour que les 2 paragraphes se mettent côte à côte*/
    margin-top: 25px;  
    font-family: "Inter", serif; 
    font-weight:500;
    font-style: normal;
    font-size: 16px;
 }
 
 
/*SECTION BIENFAIT DU MIEL*/
.bienfait {
    margin-top: 30px;
}

.bienfait h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Inter", serif; 
    font-weight:700;
    font-style: normal;
    font-size: 32px;
}

.bienfait h4 {
    font-family: "Inter", serif; 
    font-weight:700;
    font-style: normal;
    font-size: 16px;
}

.bienfait p {
    font-family: "Inter", serif; 
    font-weight:500;
    font-style: normal;
    font-size: 16px;
}

.bienfait .btn {
    font-family: "Inter", serif; 
    font-weight:600;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 25px;
}


/*SECTION PRODUITS*/

.produits {
    margin-left: 20px;   
    margin-bottom: 20px;  
}

.produits h3 {  
    margin-left: 90px;   
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Inter", serif; 
    font-weight:600;
    font-style: normal;
    font-size: 32px;      
}

.card {         
    width: 267px;
    height: 458px;
    border-radius: 4px;   
}

.produitsInfos {
    padding-left: 10px;
    padding-right: 10px;
}

.produitsInfos h4 {
    font-family: "Inter", serif; 
    font-weight:600;
    font-style: normal;
    font-size: 24px;
    margin-top: 8px;
}

.produitsInfos p {
    font-family: "Inter", serif; 
    font-weight:500;
    font-style: normal;
    font-size: 16px;
    margin-top: 8px;
}

.produitsInfos .btn {
   padding-left:40px;     
   padding-right:40px;   
}


/*SECTION NOS CLIENTS*/
.clients {
    /*margin-left: 20px; */ 
   padding-bottom: 60px;
   
}

.clients h3 {
    font-family: "Inter", serif; 
    font-weight:600;
    font-style: normal;
    font-size: 32px;      
    color: #593E26;
    margin-top: 40px;
}

.photoEtoile {
   display: flex;
   margin-bottom:15px; 
   margin-top:40px;
   }

   .photoEtoile p {
   margin-top:10px;
   margin-left:10px;
   font-family: "Inter", serif; 
   font-weight:800;
   font-style: normal;
   font-size: 20px;     
   }

   .photoEtoile .etoiles {
    margin-top:10px;
    margin-left:10px;
    font-weight:800;
    }

    .Petoile {
       /* display: flex;*/
       margin-left:15px;
    }